<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.system.scf.cms.fs.dao.FsSettingMapper">
  <resultMap id="BaseResultMap" type="cn.system.scf.cms.fs.model.FsSetting">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="FS_SETTING_ID" jdbcType="VARCHAR" property="fsSettingId" />
    <result column="FS_SERVICE_CODE" jdbcType="VARCHAR" property="fsServiceCode" />
    <result column="FS_SERVICE_NAME" jdbcType="VARCHAR" property="fsServiceName" />
    <result column="FS_SERVICE_TYPE" jdbcType="CHAR" property="fsServiceType" />
    <result column="DISABLED_STATUS" jdbcType="CHAR" property="disabledStatus" />
    <result column="FS_ASSOCIATOR_ID" jdbcType="VARCHAR" property="fsAssociatorId" />
    <result column="FS_HOST_URL" jdbcType="VARCHAR" property="fsHostUrl" />
    <result column="FS_APP_KEY" jdbcType="VARCHAR" property="fsAppKey" />
    <result column="FS_APP_SECRET" jdbcType="VARCHAR" property="fsAppSecret" />
    <result column="FS_USERNAME" jdbcType="VARCHAR" property="fsUsername" />
    <result column="FS_PASSWORD" jdbcType="VARCHAR" property="fsPassword" />
    <result column="FS_APP_TOKEN_TIMEOUT" jdbcType="DECIMAL" property="fsAppTokenTimeout" />
    <result column="MAX_REQUEST_RETRY_COUNT" jdbcType="DECIMAL" property="maxRequestRetryCount" />
  </resultMap>
</mapper>