<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="campus.management.system.md.dao.RoleMapper">
  <resultMap id="BaseResultMap" type="campus.management.system.md.model.Role">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ROLE_ID" jdbcType="VARCHAR" property="roleId" />
    <result column="ROLE_CODE" jdbcType="VARCHAR" property="roleCode" />
    <result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="BOOK_ASSOCIATOR_ID" jdbcType="VARCHAR" property="bookAssociatorId" />
    <result column="BOOK_USER_ID" jdbcType="VARCHAR" property="bookUserId" />
    <result column="BOOK_DATE" jdbcType="TIMESTAMP" property="bookDate" />
    <result column="DISABLED_STATUS" jdbcType="CHAR" property="disabledStatus" />
  </resultMap>
</mapper>