<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.system.scf.cms.md.dao.SystemModelMapper">
  <resultMap id="BaseResultMap" type="cn.system.scf.cms.md.model.SystemModel">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="MODEL_ID" jdbcType="VARCHAR" property="modelId" />
    <result column="PRODUCT_ID" jdbcType="VARCHAR" property="productId" />
    <result column="MODEL_LEVEL" jdbcType="CHAR" property="modelLevel" />
    <result column="PARENT_MODEL_ID" jdbcType="VARCHAR" property="parentModelId" />
    <result column="MODEL_CODE" jdbcType="VARCHAR" property="modelCode" />
    <result column="MODEL_NAME" jdbcType="VARCHAR" property="modelName" />
    <result column="MODEL_URI" jdbcType="VARCHAR" property="modelUri" />
    <result column="MODEL_URL" jdbcType="VARCHAR" property="modelUrl" />
    <result column="MODEL_DESCRIBE" jdbcType="VARCHAR" property="modelDescribe" />
  </resultMap>
</mapper>